xiaomi.user="example@example.com"                  // email used in the Mi Home app
xiaomi.passHash="0123456789ABCDEF0123456798ABCDEF" // MD5 hash of the password used in the Mi Home app
xiaomi.country="de"                                // Mi Home server country
miio.ip="10.1.2.3"                                 // ip address of the vacuum
miio.token="0123456789abcdef0123456789abcdef"      // device token used of the vacuum used by the Mi Home app to encrypt communication
